# ETL of secondary datasets

# "Significant Earthqueake Database"

In [1989]:
import pandas as pd
import numpy as np
import json 
import csv

In [1990]:
db = pd.read_csv('Datasets\Input\significant-earthquake-database (1).csv', sep=';')
db

,ID Earthquake,Flag Tsunami,Year,Month,Day,Focal Depth,EQ Primary,Mw Magnitude,Ms Magnitude,Mb Magnitude,...,Total Effects : Missing Description,Total Effects : Injuries,Total Effects : Injuries Description,Total Effects : Damages in million Dollars,Total Effects : Damage Description,Total Effects : Houses Destroyed,Total Effects : Houses Destroyed Description,Total Effects : Houses Damaged,Total Effects : Houses Damaged Description,Coordinates
0,4465,Tsunami,1968,9.0,25.0,114.0,5.7,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"15.5,-92.7"
1,4471,NaN,1969,1.0,3.0,11.0,5.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"37.1,57.9"
2,4493,NaN,1969,8.0,11.0,33.0,4.7,NaN,4.7,4.6,...,NaN,4.0,Few (~1 to 50 deaths),NaN,LIMITED (roughly corresponding to less than $1...,NaN,NaN,NaN,NaN,"43.2,12.4"
3,8089,NaN,1969,9.0,14.0,NaN,5.5,NaN,5.5,NaN,...,NaN,NaN,NaN,NaN,LIMITED (roughly corresponding to less than $1...,10.0,Few (~1 to 50 houses),NaN,NaN,"39.7,74.8"
4,4546,NaN,1970,9.0,26.0,8.0,6.6,NaN,6.6,NaN,...,NaN,2.0,Few (~1 to 50 deaths),0.4,LIMITED (roughly corresponding to less than $1...,104.0,Many (~101 to 1000 houses),NaN,NaN,"6.2,-77.6"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6203,10370,NaN,2018,10.0,7.0,12.0,5.9,5.9,NaN,NaN,...,NaN,580.0,Many (~101 to 1000 deaths),NaN,MODERATE (~$1 to $5 million),NaN,Many (~101 to 1000 houses),11497.0,Very Many (~1001 or more houses),"20.041,-72.975"
6204,10374,NaN,2018,11.0,14.0,9.0,5.6,5.6,NaN,NaN,...,NaN,NaN,NaN,NaN,MODERATE (~$1 to $5 million),NaN,NaN,NaN,Many (~101 to 1000 houses),"-2.916,119.435"
6205,10409,NaN,2019,5.0,6.0,127.0,7.2,7.2,NaN,NaN,...,NaN,NaN,NaN,NaN,MODERATE (~$1 to $5 million),130.0,Many (~101 to 1000 houses),NaN,NaN,"-6.977,146.44"
6206,10457,Tsunami,2019,11.0,14.0,33.0,7.1,7.1,NaN,NaN,...,NaN,3.0,Few (~1 to 50 deaths),NaN,LIMITED (roughly corresponding to less than $1...,NaN,NaN,36.0,Few (~1 to 50 houses),"1.6,126.416"
6207,10460,NaN,2019,11.0,25.0,10.0,5.0,5.0,NaN,NaN,...,NaN,4.0,Few (~1 to 50 deaths),NaN,LIMITED (roughly corresponding to less than $1...,NaN,NaN,NaN,Few (~1 to 50 houses),"22.96,106.711"

In [1991]:
db.columns

Index(['ID Earthquake', 'Flag Tsunami', 'Year', 'Month', 'Day', 'Focal Depth',
       'EQ Primary', 'Mw Magnitude', 'Ms Magnitude', 'Mb Magnitude',
       'Ml Magnitude', 'MFA Magnitude', 'Unknown Magnitude', 'Intensity',
       'Country', 'State', 'Location name', 'Region code',
       'Earthquake : Deaths', 'Earthquake : Deaths Description',
       'Earthquake : Missing', 'Earthquake : Missing Description',
       'Earthquake : Injuries', 'Earthquake : Injuries Description',
       'Earthquake : Damage (in M$)', 'Earthquake : Damage Description',
       'Earthquakes : Houses destroyed',
       'Earthquakes : Houses destroyed Description',
       'Earthquakes : Houses damaged',
       'Earthquakes : Houses damaged Description', 'Total Effects : Deaths',
       'Total Effects : Deaths Description', 'Total Effects : Missing',
       'Total Effects : Missing Description', 'Total Effects : Injuries',
       'Total Effects : Injuries Description',
       'Total Effects : Damages in million Dollars',
       'Total Effects : Damage Description',
       'Total Effects : Houses Destroyed',
       'Total Effects : Houses Destroyed Description',
       'Total Effects : Houses Damaged',
       'Total Effects : Houses Damaged Description', 'Coordinates'],
      dtype='object')

In [1992]:
db['Country'].values

array(['MEXICO', 'IRAN', 'ITALY', ..., 'PAPUA NEW GUINEA', 'INDONESIA',
       'CHINA'], dtype=object)

In [1993]:
db = db.loc[(db['Country']=='CHILE')| (db['Country']=='USA') | (db['Country']=='JAPAN')]

In [1994]:
db=db.drop(['State', 'Region code', 'Earthquake : Missing', 'Earthquake : Missing Description',
       'Earthquake : Injuries', 'Earthquake : Injuries Description', 'Total Effects : Deaths Description', 'Total Effects : Missing',
       'Total Effects : Missing Description', 'Total Effects : Injuries',
       'Total Effects : Injuries Description',
       'Total Effects : Damages in million Dollars',
       'Total Effects : Damage Description',
       'Total Effects : Houses Destroyed',
       'Total Effects : Houses Destroyed Description',
       'Total Effects : Houses Damaged',
       'Total Effects : Houses Damaged Description', 'Total Effects : Deaths'], axis=1)

In [1995]:
db.columns

Index(['ID Earthquake', 'Flag Tsunami', 'Year', 'Month', 'Day', 'Focal Depth',
       'EQ Primary', 'Mw Magnitude', 'Ms Magnitude', 'Mb Magnitude',
       'Ml Magnitude', 'MFA Magnitude', 'Unknown Magnitude', 'Intensity',
       'Country', 'Location name', 'Earthquake : Deaths',
       'Earthquake : Deaths Description', 'Earthquake : Damage (in M$)',
       'Earthquake : Damage Description', 'Earthquakes : Houses destroyed',
       'Earthquakes : Houses destroyed Description',
       'Earthquakes : Houses damaged',
       'Earthquakes : Houses damaged Description', 'Coordinates'],
      dtype='object')

In [1996]:
# Percentage of NaN values per column:

db.isna().sum()*100/len(db)

ID Earthquake                                  0.000000
Flag Tsunami                                  36.050517
Year                                           0.000000
Month                                          0.918485
Day                                            2.066590
Focal Depth                                   43.398393
EQ Primary                                    19.288175
Mw Magnitude                                  74.741676
Ms Magnitude                                  40.298507
Mb Magnitude                                  70.034443
Ml Magnitude                                  94.144661
MFA Magnitude                                 99.081515
Unknown Magnitude                             88.633754
Intensity                                     64.753157
Country                                        0.000000
Location name                                  0.000000
Earthquake : Deaths                           77.037887
Earthquake : Deaths Description               71.986223
Earthquake : Damage (in M$)                   86.452354
Earthquake : Damage Description               45.350172
Earthquakes : Houses destroyed                87.944891
Earthquakes : Houses destroyed Description    80.367394
Earthquakes : Houses damaged                  94.833525
Earthquakes : Houses damaged Description      90.241102
Coordinates                                    0.918485
dtype: float64

In [1997]:
# Create a column with appropiate date data

db['Date']=pd.to_datetime(db[["Year", "Month", "Day"]],  errors = 'coerce')

In [1998]:
# Separate the Coordinates values into Latitude and Longitude

lat = []
lon = []

for row in db['Coordinates']:
    try:
        lat.append(row.split(',')[0])
        lon.append(row.split(',')[1])
    except:
        lat.append(np.NaN)
        lon.append(np.NaN)

db['Latitude'] = lat
db['Longitude'] = lon

In [1999]:
db

,ID Earthquake,Flag Tsunami,Year,Month,Day,Focal Depth,EQ Primary,Mw Magnitude,Ms Magnitude,Mb Magnitude,...,Earthquake : Damage (in M$),Earthquake : Damage Description,Earthquakes : Houses destroyed,Earthquakes : Houses destroyed Description,Earthquakes : Houses damaged,Earthquakes : Houses damaged Description,Coordinates,Date,Latitude,Longitude
6,6440,Tsunami,1972,6.0,8.0,39.0,6.6,NaN,6.6,6.2,...,NaN,NaN,NaN,NaN,NaN,NaN,"-30.5,-71.8",1972-06-08,-30.5,-71.8
13,4878,NaN,1980,5.0,25.0,7.0,6.1,NaN,6.1,6.1,...,2.0,MODERATE (~$1 to $5 million),NaN,NaN,NaN,NaN,"37.6,-118.84",1980-05-25,37.6,-118.84
15,4919,NaN,1981,4.0,26.0,6.0,6.0,NaN,6.0,5.5,...,1.5,MODERATE (~$1 to $5 million),NaN,NaN,NaN,NaN,"33.133,-115.65",1981-04-26,33.133,-115.65
24,5203,Tsunami,1989,6.0,26.0,9.0,6.1,NaN,6.1,5.8,...,NaN,MODERATE (~$1 to $5 million),105.0,Many (~101 to 1000 houses),NaN,NaN,"19.362,-155.083",1989-06-26,19.362,-155.083
33,5348,Tsunami,1993,2.0,7.0,11.0,6.3,6.3,6.2,6.3,...,NaN,LIMITED (roughly corresponding to less than $1...,NaN,NaN,NaN,NaN,"37.634,137.245",1993-02-07,37.634,137.245
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6184,7823,NaN,2008,4.0,18.0,14.0,5.3,5.3,4.8,5.1,...,NaN,LIMITED (roughly corresponding to less than $1...,NaN,NaN,NaN,Few (~1 to 50 houses),"38.452,-87.886",2008-04-18,38.452,-87.886
6185,8130,NaN,2008,5.0,7.0,39.0,6.8,6.8,6.7,6.1,...,NaN,LIMITED (roughly corresponding to less than $1...,NaN,NaN,NaN,NaN,"36.158,141.521",2008-05-07,36.158,141.521
6192,9806,NaN,2011,3.0,11.0,19.0,7.6,7.6,NaN,7.1,...,NaN,NaN,NaN,NaN,NaN,NaN,"38.058,144.59",2011-03-11,38.058,144.59
6201,10156,Tsunami,2015,9.0,16.0,22.0,8.3,8.3,NaN,NaN,...,600.0,EXTREME (~$25 million or more),2305.0,Very Many (~1001 or more houses),10044.0,Very Many (~1001 or more houses),"-31.573,-71.674",2015-09-16,-31.573,-71.674
6202,10163,Tsunami,2015,11.0,13.0,12.0,6.7,6.7,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"31.001,128.873",2015-11-13,31.001,128.873

In [2000]:
# drop columns Coordinates, Day, Month and Year

db = db.drop(['Coordinates', 'Day', 'Month'], axis=1)

In [2001]:
db

,ID Earthquake,Flag Tsunami,Year,Focal Depth,EQ Primary,Mw Magnitude,Ms Magnitude,Mb Magnitude,Ml Magnitude,MFA Magnitude,...,Earthquake : Deaths Description,Earthquake : Damage (in M$),Earthquake : Damage Description,Earthquakes : Houses destroyed,Earthquakes : Houses destroyed Description,Earthquakes : Houses damaged,Earthquakes : Houses damaged Description,Date,Latitude,Longitude
6,6440,Tsunami,1972,39.0,6.6,NaN,6.6,6.2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1972-06-08,-30.5,-71.8
13,4878,NaN,1980,7.0,6.1,NaN,6.1,6.1,NaN,NaN,...,NaN,2.0,MODERATE (~$1 to $5 million),NaN,NaN,NaN,NaN,1980-05-25,37.6,-118.84
15,4919,NaN,1981,6.0,6.0,NaN,6.0,5.5,NaN,NaN,...,NaN,1.5,MODERATE (~$1 to $5 million),NaN,NaN,NaN,NaN,1981-04-26,33.133,-115.65
24,5203,Tsunami,1989,9.0,6.1,NaN,6.1,5.8,NaN,NaN,...,NaN,NaN,MODERATE (~$1 to $5 million),105.0,Many (~101 to 1000 houses),NaN,NaN,1989-06-26,19.362,-155.083
33,5348,Tsunami,1993,11.0,6.3,6.3,6.2,6.3,NaN,NaN,...,NaN,NaN,LIMITED (roughly corresponding to less than $1...,NaN,NaN,NaN,NaN,1993-02-07,37.634,137.245
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6184,7823,NaN,2008,14.0,5.3,5.3,4.8,5.1,NaN,NaN,...,NaN,NaN,LIMITED (roughly corresponding to less than $1...,NaN,NaN,NaN,Few (~1 to 50 houses),2008-04-18,38.452,-87.886
6185,8130,NaN,2008,39.0,6.8,6.8,6.7,6.1,NaN,NaN,...,NaN,NaN,LIMITED (roughly corresponding to less than $1...,NaN,NaN,NaN,NaN,2008-05-07,36.158,141.521
6192,9806,NaN,2011,19.0,7.6,7.6,NaN,7.1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-03-11,38.058,144.59
6201,10156,Tsunami,2015,22.0,8.3,8.3,NaN,NaN,NaN,NaN,...,Few (~1 to 50 deaths),600.0,EXTREME (~$25 million or more),2305.0,Very Many (~1001 or more houses),10044.0,Very Many (~1001 or more houses),2015-09-16,-31.573,-71.674
6202,10163,Tsunami,2015,12.0,6.7,6.7,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-11-13,31.001,128.873

In [2002]:
# Rename columns:

db.rename(columns={'ID Earthquake' : 'ID',
                   'Flag Tsunami' : 'Tsunami',
                   'EQ Primary' : 'Primary Magnitude',
                   'Location name' : 'Location',
                   'Earthquake : Deaths' : 'Deaths',
                   'Earthquake : Deaths Description' : 'Death Description',
                   'Earthquake : Damage (in M$)' : 'Damage (in M$)',
                   'Earthquake : Damage Description' : 'Damage Description',
                   'Earthquakes : Houses destroyed' : 'Houses Destroyed',
                   'Earthquakes : Houses destroyed Description' : 'Houses Destroyed Description',
                   'Earthquakes : Houses damaged' : 'Houses Damaged',
                   'Earthquakes : Houses damaged Description' : 'Houses Damaged Description'
                    }, inplace=True)

In [2003]:
db

,ID,Tsunami,Year,Focal Depth,Primary Magnitude,Mw Magnitude,Ms Magnitude,Mb Magnitude,Ml Magnitude,MFA Magnitude,...,Death Description,Damage (in M$),Damage Description,Houses Destroyed,Houses Destroyed Description,Houses Damaged,Houses Damaged Description,Date,Latitude,Longitude
6,6440,Tsunami,1972,39.0,6.6,NaN,6.6,6.2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1972-06-08,-30.5,-71.8
13,4878,NaN,1980,7.0,6.1,NaN,6.1,6.1,NaN,NaN,...,NaN,2.0,MODERATE (~$1 to $5 million),NaN,NaN,NaN,NaN,1980-05-25,37.6,-118.84
15,4919,NaN,1981,6.0,6.0,NaN,6.0,5.5,NaN,NaN,...,NaN,1.5,MODERATE (~$1 to $5 million),NaN,NaN,NaN,NaN,1981-04-26,33.133,-115.65
24,5203,Tsunami,1989,9.0,6.1,NaN,6.1,5.8,NaN,NaN,...,NaN,NaN,MODERATE (~$1 to $5 million),105.0,Many (~101 to 1000 houses),NaN,NaN,1989-06-26,19.362,-155.083
33,5348,Tsunami,1993,11.0,6.3,6.3,6.2,6.3,NaN,NaN,...,NaN,NaN,LIMITED (roughly corresponding to less than $1...,NaN,NaN,NaN,NaN,1993-02-07,37.634,137.245
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6184,7823,NaN,2008,14.0,5.3,5.3,4.8,5.1,NaN,NaN,...,NaN,NaN,LIMITED (roughly corresponding to less than $1...,NaN,NaN,NaN,Few (~1 to 50 houses),2008-04-18,38.452,-87.886
6185,8130,NaN,2008,39.0,6.8,6.8,6.7,6.1,NaN,NaN,...,NaN,NaN,LIMITED (roughly corresponding to less than $1...,NaN,NaN,NaN,NaN,2008-05-07,36.158,141.521
6192,9806,NaN,2011,19.0,7.6,7.6,NaN,7.1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-03-11,38.058,144.59
6201,10156,Tsunami,2015,22.0,8.3,8.3,NaN,NaN,NaN,NaN,...,Few (~1 to 50 deaths),600.0,EXTREME (~$25 million or more),2305.0,Very Many (~1001 or more houses),10044.0,Very Many (~1001 or more houses),2015-09-16,-31.573,-71.674
6202,10163,Tsunami,2015,12.0,6.7,6.7,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-11-13,31.001,128.873

In [2004]:
# Rearrange columns order:

db = db [['ID','Year', 'Date', 'Country', 'Location', 'Latitude', 'Longitude', 'Focal Depth', 'Primary Magnitude',
       'Mw Magnitude', 'Ms Magnitude', 'Mb Magnitude', 'Ml Magnitude',
       'MFA Magnitude', 'Unknown Magnitude', 'Intensity', 'Deaths', 'Death Description', 'Damage (in M$)',
       'Damage Description', 'Houses Destroyed',
       'Houses Destroyed Description', 'Houses Damaged',
       'Houses Damaged Description', 'Tsunami']]

In [2005]:
db

,ID,Year,Date,Country,Location,Latitude,Longitude,Focal Depth,Primary Magnitude,Mw Magnitude,...,Intensity,Deaths,Death Description,Damage (in M$),Damage Description,Houses Destroyed,Houses Destroyed Description,Houses Damaged,Houses Damaged Description,Tsunami
6,6440,1972,1972-06-08,CHILE,CHILE: CENTRAL,-30.5,-71.8,39.0,6.6,NaN,...,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tsunami
13,4878,1980,1980-05-25,USA,CALIFORNIA: MAMMOTH LAKES,37.6,-118.84,7.0,6.1,NaN,...,7.0,NaN,NaN,2.0,MODERATE (~$1 to $5 million),NaN,NaN,NaN,NaN,NaN
15,4919,1981,1981-04-26,USA,"CALIFORNIA: WESTMORLAND,CALIPATRIA",33.133,-115.65,6.0,6.0,NaN,...,7.0,NaN,NaN,1.5,MODERATE (~$1 to $5 million),NaN,NaN,NaN,NaN,NaN
24,5203,1989,1989-06-26,USA,HAWAIIAN ISLANDS: PUNA DISTRICT,19.362,-155.083,9.0,6.1,NaN,...,6.0,NaN,NaN,NaN,MODERATE (~$1 to $5 million),105.0,Many (~101 to 1000 houses),NaN,NaN,Tsunami
33,5348,1993,1993-02-07,JAPAN,"JAPAN: HONSHU: ISHIKAWA, TOYAMA, NIIGATA",37.634,137.245,11.0,6.3,6.3,...,NaN,NaN,NaN,NaN,LIMITED (roughly corresponding to less than $1...,NaN,NaN,NaN,NaN,Tsunami
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6184,7823,2008,2008-04-18,USA,ILLINOIS: WEST SALEM,38.452,-87.886,14.0,5.3,5.3,...,NaN,NaN,NaN,NaN,LIMITED (roughly corresponding to less than $1...,NaN,NaN,NaN,Few (~1 to 50 houses),NaN
6185,8130,2008,2008-05-07,JAPAN,JAPAN: HONSHU: E COAST,36.158,141.521,39.0,6.8,6.8,...,NaN,NaN,NaN,NaN,LIMITED (roughly corresponding to less than $1...,NaN,NaN,NaN,NaN,NaN
6192,9806,2011,2011-03-11,JAPAN,JAPAN: OFF EAST COAST HONSHU,38.058,144.59,19.0,7.6,7.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6201,10156,2015,2015-09-16,CHILE,CHILE: CENTRAL,-31.573,-71.674,22.0,8.3,8.3,...,9.0,7.0,Few (~1 to 50 deaths),600.0,EXTREME (~$25 million or more),2305.0,Very Many (~1001 or more houses),10044.0,Very Many (~1001 or more houses),Tsunami
6202,10163,2015,2015-11-13,JAPAN,JAPAN: KYUSYU ISLAND,31.001,128.873,12.0,6.7,6.7,...,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tsunami

In [2006]:
# Replace Tsunami values with 1 or 0:

db['Tsunami'] = db['Tsunami'].replace('Tsunami', 1)

db['Tsunami'] = db['Tsunami'].replace(np.nan, 0)

In [2007]:
# Clasification of Depth and Magnitude

db['Class_Depth'] = pd.cut(
    x=db["Focal Depth"],
    bins=[0, 49, 300, np.inf],
    labels=["Shallow", "Intermediate", "Deep"],
)

db['Class_Mag'] = pd.cut(
    x=db["Primary Magnitude"],
    bins=[0, 2.9, 3.9,4.9,5.9,6.9,7.9, np.inf],
    labels=["Very Minor", "Minor", "Light","Moderate","Strong","Major","Great"],
)

In [2008]:
db = db [['ID','Year', 'Date', 'Country', 'Location', 'Latitude', 'Longitude', 'Focal Depth', 'Class_Depth', 'Primary Magnitude', 'Class_Mag',
       'Mw Magnitude', 'Ms Magnitude', 'Mb Magnitude', 'Ml Magnitude',
       'MFA Magnitude', 'Unknown Magnitude', 'Intensity', 'Deaths', 'Death Description', 'Damage (in M$)',
       'Damage Description', 'Houses Destroyed',
       'Houses Destroyed Description', 'Houses Damaged',
       'Houses Damaged Description', 'Tsunami']]

In [2009]:
#enrich the Newest Depth Column with real data found in internet articles
db.loc[db['ID']==10036,['Focal Depth']]=2
db.loc[db['ID']==7614,['Focal Depth']]=5
db.loc[db['ID']==5538,['Focal Depth']]=20
db.loc[db['ID']==9813,['Focal Depth']]=25
db.loc[db['ID']==4248,['Focal Depth']]=20

With an analysis we determine that the Ms Magnitude and the Mw Magnitude have a diference of just 0.15 on avg in this dataset.
So we kept the Primary magnitude that is based on those magnitudes taking into account that the Mw magnitude is the most accurate, the primary magnitude that are based on the other magnitudes are transform into 0.

In [2010]:
db['Primary Magnitude'] = np.where((db['Primary Magnitude'] == db['Ms Magnitude']) | (db['Primary Magnitude'] == db['Mw Magnitude']), db['Primary Magnitude'],0)

In [2011]:
#Drop the primary magnitudes that are 0.
db.drop(db[db['Primary Magnitude'] == 0].index, inplace = True)

In [2012]:
#Drop the columns of magnitudes that are not primary
db.drop(['Mw Magnitude','Ms Magnitude','Mb Magnitude', 'Ml Magnitude','MFA Magnitude','Unknown Magnitude'], axis=1,inplace=True)

In [2013]:
#Check the database
db.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 594 entries, 6 to 6202
Data columns (total 21 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ID                            594 non-null    int64
 1   Year                          594 non-null    int64
 2   Date                          528 non-null    datetime64[ns]
 3   Country                       594 non-null    object
 4   Location                      594 non-null    object
 5   Latitude                      594 non-null    object
 6   Longitude                     594 non-null    object
 7   Focal Depth                   404 non-null    float64
 8   Class_Depth                   399 non-null    category
 9   Primary Magnitude             594 non-null    float64
 10  Class_Mag                     594 non-null    category
 11  Intensity                     229 non-null    float64
 12  Deaths                        153 non-null    float64
 13  Death Description             185 non-null    object
 14  Damage (in M$)                96 non-null     float64
 15  Damage Description            375 non-null    object
 16  Houses Destroyed              87 non-null     float64
 17  Houses Destroyed Description  142 non-null    object
 18  Houses Damaged                39 non-null     float64
 19  Houses Damaged Description    73 non-null     object
 20  Tsunami                       594 non-null    float64
dtypes: category(2), datetime64[ns](1), float64(8), int64(2), object(8)
memory usage: 94.4+ KB

Determine the avg values of Deaths according to the Death Description. 
So we can have a more complete Deaths column.

In [2014]:
db.groupby('Death Description', as_index=False)['Deaths'].mean()

                  Death Description        Deaths
0             Few (~1 to 50 deaths)      9.201923
1        Many (~101 to 1000 deaths)    430.555556
2          Some (~51 to 100 deaths)     69.500000
3  Very Many (~1001 or more deaths)  15090.761905

In [2015]:
#Fill the Na on Deaths column with 0.
db['Deaths'] = db['Deaths'].fillna(0)

In [2016]:
#Change the type of the column Death Description to a string.
db['Death Description']=db['Death Description'].astype(str)

In [2017]:
#Check the Death Description column 
db['Death Description'].head(30)

6                        nan
13                       nan
15                       nan
24                       nan
33                       nan
35                       nan
49                       nan
51                       nan
57                       nan
64                       nan
71                       nan
78                       nan
94                       nan
97                       nan
115                      nan
131                      nan
138                      nan
147    Few (~1 to 50 deaths)
160                      nan
170                      nan
184                      nan
192                      nan
204                      nan
205                      nan
218                      nan
221                      nan
239                      nan
244                      nan
260                      nan
265                      nan
Name: Death Description, dtype: object

In [2018]:
#Create a column tmp that would have the previously search avg, according to the Death description column.
db['tmp_table']=''
conditions=[(db['Death Description'].str.contains('Few')),(db['Death Description'].str.contains('101')),(db['Death Description'].str.contains('Some')),(db['Death Description'].str.contains('more'))]
choices=[9,430,70,15090]
db['tmp_table']=np.select(conditions,choices)

In [2019]:
db['tmp_table'].head(30)

6      0
13     0
15     0
24     0
33     0
35     0
49     0
51     0
57     0
64     0
71     0
78     0
94     0
97     0
115    0
131    0
138    0
147    9
160    0
170    0
184    0
192    0
204    0
205    0
218    0
221    0
239    0
244    0
260    0
265    0
Name: tmp_table, dtype: int64

In [2020]:
#Insert the values of tmp column where the Death column is 0.
db['Deaths'] = np.where((db['Deaths'] == 0), db['tmp_table'],db['Deaths'])

In [2021]:
#delete the already use tmp column
del db['tmp_table']

We will reapeated the process with the Damage columns, Houses Destroyed colums and Houses Damage Column.

In [2022]:
db['Deaths'].head(25)

6      0.0
13     0.0
15     0.0
24     0.0
33     0.0
35     0.0
49     0.0
51     0.0
57     0.0
64     0.0
71     0.0
78     0.0
94     0.0
97     0.0
115    0.0
131    0.0
138    0.0
147    9.0
160    0.0
170    0.0
184    0.0
192    0.0
204    0.0
205    0.0
218    0.0
Name: Deaths, dtype: float64

In [2023]:
db.groupby('Damage Description', as_index=False)['Damage (in M$)'].mean()

                                  Damage Description  Damage (in M$)
0                     EXTREME (~$25 million or more)     4913.343800
1  LIMITED (roughly corresponding to less than $1...        0.486000
2                       MODERATE (~$1 to $5 million)        2.195714
3                       SEVERE (~>$5 to $24 million)       11.560000

In [2024]:
db.groupby('Damage Description', as_index=False)['Deaths'].mean()

                                  Damage Description       Deaths
0                     EXTREME (~$25 million or more)  3949.315068
1  LIMITED (roughly corresponding to less than $1...     5.169014
2                       MODERATE (~$1 to $5 million)    17.638298
3                       SEVERE (~>$5 to $24 million)   591.878788

In [2025]:
db['Damage (in M$)'] = db['Damage (in M$)'].fillna(0)

In [2026]:
db.dropna(subset=['Damage Description'],inplace=True)

In [2027]:
db['Damage Description'].isna().sum()

0

In [2028]:
db['Damage Description']=db['Damage Description'].astype(str)

In [2029]:
#Create a column tmp that would have the previously search avg, according to the Death description column.
db['tmp_table']=''
conditions=[(db['Damage Description'].str.contains('LIMITED')),(db['Damage Description'].str.contains('MODERATE')),(db['Damage Description'].str.contains('SEVERE')),(db['Damage Description'].str.contains('EXTREME'))]
choices=[5,17,590,3950]
db['tmp_table']=np.select(conditions,choices)

In [2030]:
db['Deaths'] = np.where((db['Deaths'] == 0), db['tmp_table'],db['Deaths'])

In [2031]:
del db['tmp_table']

In [2032]:
db['tmp_table']=''
conditions=[(db['Damage Description'].str.contains('LIMITED')),(db['Damage Description'].str.contains('MODERATE')),(db['Damage Description'].str.contains('SEVERE')),(db['Damage Description'].str.contains('EXTREME'))]
choices=[0.5,2,11,4900]
db['tmp_table']=np.select(conditions,choices)

In [2033]:
db['Damage (in M$)'] = np.where((db['Damage (in M$)'] == 0), db['tmp_table'],db['Damage (in M$)'])

In [2034]:
del db['tmp_table']

In [2035]:
db.groupby('Houses Destroyed Description', as_index=False)['Houses Destroyed'].mean()

       Houses Destroyed Description  Houses Destroyed
0             Few (~1 to 50 houses)         17.600000
1        Many (~101 to 1000 houses)        395.920000
2          Some (~51 to 100 houses)         69.888889
3  Very Many (~1001 or more houses)      27405.625000

In [2036]:
db['Houses Destroyed'] = db['Houses Destroyed'].fillna(0)

In [2037]:
db['Houses Destroyed Description']=db['Houses Destroyed Description'].astype(str)

In [2038]:
db['tmp_table']=''
conditions=[(db['Houses Destroyed Description'].str.contains('Few')),(db['Houses Destroyed Description'].str.contains('101')),(db['Houses Destroyed Description'].str.contains('Some')),(db['Houses Destroyed Description'].str.contains('more'))]
choices=[18,402,70,27406]
db['tmp_table']=np.select(conditions,choices)

In [2039]:
db['Houses Destroyed'] = np.where((db['Houses Destroyed'] == 0), db['tmp_table'],db['Houses Destroyed'])

In [2040]:
del db['tmp_table']

In [2041]:
db.groupby('Houses Damaged Description', as_index=False)['Houses Damaged'].mean()

         Houses Damaged Description  Houses Damaged
0             Few (~1 to 50 houses)       38.400000
1        Many (~101 to 1000 houses)      465.266667
2          Some (~51 to 100 houses)       78.666667
3  Very Many (~1001 or more houses)    38640.266667

In [2042]:
db['Houses Damaged'] = db['Houses Damaged'].fillna(0)

In [2043]:
db['Houses Damaged Description']=db['Houses Damaged Description'].astype(str)

In [2044]:
db['tmp_table']=''
conditions=[(db['Houses Damaged Description'].str.contains('Few')),(db['Houses Damaged Description'].str.contains('101')),(db['Houses Damaged Description'].str.contains('Some')),(db['Houses Damaged Description'].str.contains('more'))]
choices=[38,463,79,38640]
db['tmp_table']=np.select(conditions,choices)

In [2045]:
db['Houses Damaged'] = np.where((db['Houses Damaged'] == 0), db['tmp_table'],db['Houses Damaged'])

In [2046]:
del db['tmp_table']

In [2047]:
#Join Houses Damaged and destroyed into a affected column.
db['Houses Affected']=db['Houses Damaged']+db['Houses Destroyed']

In [2048]:
db.groupby('Damage Description', as_index=False)['Houses Affected'].mean()

                                  Damage Description  Houses Affected
0                     EXTREME (~$25 million or more)     20106.534247
1  LIMITED (roughly corresponding to less than $1...        19.535211
2                       MODERATE (~$1 to $5 million)        98.617021
3                       SEVERE (~>$5 to $24 million)      1834.181818

In [2049]:
db['tmp_table']=''
conditions=[(db['Damage Description'].str.contains('LIMITED')),(db['Damage Description'].str.contains('MODERATE')),(db['Damage Description'].str.contains('SEVERE')),(db['Damage Description'].str.contains('EXTREME'))]
choices=[20,99,1834,20107]
db['tmp_table']=np.select(conditions,choices)

In [2050]:
#Fill 0 values with average houses affected compare with the categories of description.
db['Houses Affected'] = np.where((db['Houses Affected'] == 0), db['tmp_table'],db['Houses Affected'])

In [2051]:
#Drop the columns of Houses Damaged and Destroyed.
db.drop(['Houses Damaged Description','Houses Damaged','Houses Destroyed Description', 'Houses Destroyed'], axis=1,inplace=True)

In [2052]:
db['Deaths'].max()

142807.0

In [2053]:
del db['Death Description']
del db['tmp_table']

In [2054]:
category=pd.cut(db.Deaths,bins=[1,50,100,1000,150000],labels=['Few (~1 to 50 deaths)','Some (~51 to 100 deaths)','Many (~101 to 1000 deaths)','Very Many (~1001 or more deaths)'])
db.insert(12,'Death Description',category)

In [2055]:
db['Houses Affected'].max()

500000.0

In [2056]:
category=pd.cut(db['Houses Affected'],bins=[1,50,100,1000,600000],labels=['Few (~1 to 50 houses)','Some (~51 to 100 houses)','Many (~101 to 1000 houses)','Very Many (~1001 or more houses)'])
db.insert(17,'Houses Affected Description',category)

In [2057]:
# Final view of finished dataset:
db

,ID,Year,Date,Country,Location,Latitude,Longitude,Focal Depth,Class_Depth,Primary Magnitude,Class_Mag,Intensity,Death Description,Deaths,Damage (in M$),Damage Description,Tsunami,Houses Affected Description,Houses Affected
13,4878,1980,1980-05-25,USA,CALIFORNIA: MAMMOTH LAKES,37.6,-118.84,7.0,Shallow,6.1,Strong,7.0,Few (~1 to 50 deaths),17.0,2.0,MODERATE (~$1 to $5 million),0.0,Some (~51 to 100 houses),99.0
15,4919,1981,1981-04-26,USA,"CALIFORNIA: WESTMORLAND,CALIPATRIA",33.133,-115.65,6.0,Shallow,6.0,Strong,7.0,Few (~1 to 50 deaths),17.0,1.5,MODERATE (~$1 to $5 million),0.0,Some (~51 to 100 houses),99.0
24,5203,1989,1989-06-26,USA,HAWAIIAN ISLANDS: PUNA DISTRICT,19.362,-155.083,9.0,Shallow,6.1,Strong,6.0,Few (~1 to 50 deaths),17.0,2.0,MODERATE (~$1 to $5 million),1.0,Many (~101 to 1000 houses),105.0
33,5348,1993,1993-02-07,JAPAN,"JAPAN: HONSHU: ISHIKAWA, TOYAMA, NIIGATA",37.634,137.245,11.0,Shallow,6.3,Strong,NaN,Few (~1 to 50 deaths),5.0,0.5,LIMITED (roughly corresponding to less than $1...,1.0,Few (~1 to 50 houses),20.0
49,5721,2003,2003-09-20,JAPAN,JAPAN: HONSHU: TOKYO,34.998,140.172,52.0,Intermediate,5.7,Moderate,NaN,Few (~1 to 50 deaths),5.0,0.5,LIMITED (roughly corresponding to less than $1...,0.0,Some (~51 to 100 houses),79.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6150,4977,1983,1983-05-02,USA,"CALIFORNIA: CENTRAL, COALINGA",36.219,-120.317,10.0,Shallow,6.2,Strong,8.0,Very Many (~1001 or more deaths),3950.0,31.0,EXTREME (~$25 million or more),0.0,Many (~101 to 1000 houses),500.0
6161,5376,1994,1994-02-03,USA,WYOMING: AFTON,42.762,-110.976,8.0,Shallow,5.8,Moderate,7.0,Few (~1 to 50 deaths),5.0,0.5,LIMITED (roughly corresponding to less than $1...,0.0,Few (~1 to 50 houses),20.0
6184,7823,2008,2008-04-18,USA,ILLINOIS: WEST SALEM,38.452,-87.886,14.0,Shallow,5.3,Moderate,NaN,Few (~1 to 50 deaths),5.0,0.5,LIMITED (roughly corresponding to less than $1...,0.0,Few (~1 to 50 houses),38.0
6185,8130,2008,2008-05-07,JAPAN,JAPAN: HONSHU: E COAST,36.158,141.521,39.0,Shallow,6.8,Strong,NaN,Few (~1 to 50 deaths),5.0,0.5,LIMITED (roughly corresponding to less than $1...,0.0,Few (~1 to 50 houses),20.0
6201,10156,2015,2015-09-16,CHILE,CHILE: CENTRAL,-31.573,-71.674,22.0,Shallow,8.3,Great,9.0,Few (~1 to 50 deaths),7.0,600.0,EXTREME (~$25 million or more),1.0,Very Many (~1001 or more houses),12349.0

In [2058]:
#Se filtran los terremotos desde el 1919 hasta el 2019
db_after_19s=db.loc[db['Date']>='1919-01-01']

In [2059]:
db_after_19s

,ID,Year,Date,Country,Location,Latitude,Longitude,Focal Depth,Class_Depth,Primary Magnitude,Class_Mag,Intensity,Death Description,Deaths,Damage (in M$),Damage Description,Tsunami,Houses Affected Description,Houses Affected
13,4878,1980,1980-05-25,USA,CALIFORNIA: MAMMOTH LAKES,37.6,-118.84,7.0,Shallow,6.1,Strong,7.0,Few (~1 to 50 deaths),17.0,2.0,MODERATE (~$1 to $5 million),0.0,Some (~51 to 100 houses),99.0
15,4919,1981,1981-04-26,USA,"CALIFORNIA: WESTMORLAND,CALIPATRIA",33.133,-115.65,6.0,Shallow,6.0,Strong,7.0,Few (~1 to 50 deaths),17.0,1.5,MODERATE (~$1 to $5 million),0.0,Some (~51 to 100 houses),99.0
24,5203,1989,1989-06-26,USA,HAWAIIAN ISLANDS: PUNA DISTRICT,19.362,-155.083,9.0,Shallow,6.1,Strong,6.0,Few (~1 to 50 deaths),17.0,2.0,MODERATE (~$1 to $5 million),1.0,Many (~101 to 1000 houses),105.0
33,5348,1993,1993-02-07,JAPAN,"JAPAN: HONSHU: ISHIKAWA, TOYAMA, NIIGATA",37.634,137.245,11.0,Shallow,6.3,Strong,NaN,Few (~1 to 50 deaths),5.0,0.5,LIMITED (roughly corresponding to less than $1...,1.0,Few (~1 to 50 houses),20.0
49,5721,2003,2003-09-20,JAPAN,JAPAN: HONSHU: TOKYO,34.998,140.172,52.0,Intermediate,5.7,Moderate,NaN,Few (~1 to 50 deaths),5.0,0.5,LIMITED (roughly corresponding to less than $1...,0.0,Some (~51 to 100 houses),79.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6150,4977,1983,1983-05-02,USA,"CALIFORNIA: CENTRAL, COALINGA",36.219,-120.317,10.0,Shallow,6.2,Strong,8.0,Very Many (~1001 or more deaths),3950.0,31.0,EXTREME (~$25 million or more),0.0,Many (~101 to 1000 houses),500.0
6161,5376,1994,1994-02-03,USA,WYOMING: AFTON,42.762,-110.976,8.0,Shallow,5.8,Moderate,7.0,Few (~1 to 50 deaths),5.0,0.5,LIMITED (roughly corresponding to less than $1...,0.0,Few (~1 to 50 houses),20.0
6184,7823,2008,2008-04-18,USA,ILLINOIS: WEST SALEM,38.452,-87.886,14.0,Shallow,5.3,Moderate,NaN,Few (~1 to 50 deaths),5.0,0.5,LIMITED (roughly corresponding to less than $1...,0.0,Few (~1 to 50 houses),38.0
6185,8130,2008,2008-05-07,JAPAN,JAPAN: HONSHU: E COAST,36.158,141.521,39.0,Shallow,6.8,Strong,NaN,Few (~1 to 50 deaths),5.0,0.5,LIMITED (roughly corresponding to less than $1...,0.0,Few (~1 to 50 houses),20.0
6201,10156,2015,2015-09-16,CHILE,CHILE: CENTRAL,-31.573,-71.674,22.0,Shallow,8.3,Great,9.0,Few (~1 to 50 deaths),7.0,600.0,EXTREME (~$25 million or more),1.0,Very Many (~1001 or more houses),12349.0

In [2061]:
#Se guarda database
db_after_19s.to_csv ('Datasets\Output\Significant-Earthquake-Database.csv')